{% extends "admin/templates/app.html" %}
{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">DAFTAR ABSENSI</h4>
        <h4 class="m-0 text-primary" id="date"></h4>
        <script>
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
        </script>
    </div>

        <!-- Content Row -->
        <div class="row">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Jam Datang</th>
                                <th>Jam Pulang</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in myReports %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ report['email'] }}</td>
                                <td>{{ report['status'] }}</td>
                                <td>{{ report['datetime'].strftime("%d/%m/%Y %H:%M:%S") }}</td>
                                <td>{{ report['datetime'].strftime("%d/%m/%Y %H:%M:%S") }}</td>
                            </tr>
                            {% endfor %}   
                                <!-- <tr>
                                    <td>20190012</td>
                                    <td>Robert</td>
                                    <td class="text-success">Hadir</td>
                                    <td>08:15:59</td>
                                    <td>17:05:59</td>
                                </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
        <!-- Content Row -->             
    </div>
    <!-- /.container-fluid -->
</div>

{% endblock %}