{% extends "admin/templates/app.html" %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary"></h4>
    </div>

        <!-- Content Row -->
        <div class="row">
            <div class="card-body">
                <img>
            </div>  
        </div>
        <!-- Content Row -->             
    </div>
    <!-- /.container-fluid -->
</div>

{% endblock %}