{% extends "admin/templates/app.html" %}
{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">REPORT</h4>
    </div>
        <!-- Content Row -->
        <div class="row">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Jam Datang</th>
                                <th>Jam Pulang</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in myReports %}
                                <tr>
                                    <td>A001</td>
                                    <td>Kenneth Liem Hardadi</td>
                                    <td>Monday, 26 June 2021</td>
                                    <td>Hadir</td>
                                    <td>08:01:59</td>
                                    <td>17:01:59</td>
                                </tr>
                            {% endfor %}   
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
        <!-- Content Row -->             
    </div>
    <!-- /.container-fluid -->
</div>

{% endblock %}