{% extends "admin/templates/app.html" %}
{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">DAFTAR USER</h4>
    
    </div>
        <!-- Content Row -->
        <div class="row">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Lokasi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in myUsers %}
                            {% if user['timeIn'].strftime("%m/%d/%Y") == today %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user['email'] }}</td>             
                                {% if user['location'] == "0" %}
                                    <td>Lobby</td>
                                {% endif %}
                                {% if user['location'] == "1" %}
                                    <td>Lt. 5</td>
                                {% endif %}   
                            </tr>
                            {% endif %}
                            {% endfor %}          
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
        <!-- Content Row -->             
    </div>
    <!-- /.container-fluid -->
</div>

{% endblock %}