{% extends "client/templates/app.html" %}
{% block content %}

<div class="card shadow mb-4">
        <!-- Content Row -->
        <div class="row">
            <div class="card-body">


                <div class="card-group">
                  {% for camera_number in range(0, camera_list) %}
                    <div class="card">
                      <img class="card-img-top" src="{{ url_for('video_feed', list_id=camera_number) }}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Camera - P2</h5>
                      </div>
                    </div>
                  {% endfor %}
                </div>

            </div>  
        </div>
        <!-- Content Row -->             
    </div>
    <!-- /.container-fluid -->
</div>

{% endblock %}