{% block sidebar %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('user') }}">
      <div class="sidebar-brand-icon">
          <img class="" src="{{ url_for('static', filename='img/logo.png') }}" width="50px">
      </div>
      <div class="sidebar-brand-text mx-3">Matana University</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">


  <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link " href="" >
            <i class="fas fa-fw fa-cog"></i>
            <span>Daftar User</span>
        </a>
    </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
{% endblock %}